<div class="dashboard-counts">
    <div class="container-fluid">
      <div class="row" style="padding: 0px 0px; margin: 0">
        <div class="mb-lg-0" style="padding-right: 0px; padding-left: 0px">

            <div class="card">
                <div class="card-header">
                    <h3 class="h4" style="opacity: 1; margin-left: 0px;">Error <a href="#" class="alterCard-link">
                        <i id="alterCard" class="fa fa-caret-square-up"></i></a> 
                    </h3>                        
                </div>
                <div class="card-body">
                    <div class="line"></div>
                    <div>
                        The url you´re looking does not exist.
                    </div>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>

  