
<div *ngIf="isEnergySavings">
<kendo-card width="100%">
    <kendo-card-header>
        <h1 kendoCardTitle>Total savings</h1>
    </kendo-card-header>
    <kendo-card-body>
        <div class="align-center">
            <h3 class="card-stat">€ {{getSavingsInEuros() | number:'1.1-2'}}</h3>
            <p class="card-stat-secondary">{{getSavingsInKilowatts() | number:'1.1-2'}} kwh</p>
        </div>
        <div class="filler-16"></div>
        <div class="row">
            <div class="col">
                <div class="align-center">
                    <div class="savings-icon success-radial-bg">
                        <span class="k-icon k-icon-24 k-i-cloud"></span>
                    </div>
                    <h4>{{getSavingsInCO2() | number:'1.1-2'}}</h4>
                    <p>metric tons of CO<sub>2</sub></p>
                </div>
            </div>
            <div class="col">
                <div class="align-center">
                    <div class="savings-icon success-radial-bg">
                        <span class="k-icon k-icon-24 k-i-globe"></span>
                    </div>
                    <h4>{{getSavingsInTrees() | number:'1.1-1'}}</h4>
                    <p>tree seedlings</p>
                </div>
            </div>
            <div class="col">
                <div class="align-center">
                    <div class="savings-icon success-radial-bg">
                        <span class="k-icon k-icon-24 k-i-parameters"></span>
                    </div>
                    <h4>{{getSavingsInSmartphones() | number:'1.1-1'}}</h4>
                    <p>smartphones charged</p>
                </div>
            </div>
            
        </div>
    </kendo-card-body>
</kendo-card>
</div>