.align-center{
    margin: 0 auto;
    text-align: center;
}
.savings-icon {
    width: 48px;
    height:48px;
    border-radius: 50%;
    padding-top:12px;
    margin: 8px auto;
    color: darkgreen;
}
.k-icon-24 {
    font-size: 24px; /* Sets icon size to 32px */
}