<div class="user-profile"  #anchorwarnings *ngIf="auth.user$ | async as user">
  
  <kendo-badge-container (click)="onToggle()" style="float:left;margin-right:16px;">
    <span class="k-icon k-i-warning" style="font-size:24px;"></span>
    <kendo-badge
      size="small"
      [align]="{ vertical: 'bottom', horizontal: 'end' }"
      themeColor="error"
      [cutoutBorder]="true"
    >
      3
    </kendo-badge>
  </kendo-badge-container>

  <img
      [src]="user.picture"
      alt="User's profile picture"
      class="rounded-circle img-fluid profile-picture"
    />

    

    <button class='logout-button' kendoButton themeColor='primary' icon='logout' fillMode='flat' (click)="logout()">
      Log out
    </button>

    <kendo-popup [anchor]="{ nativeElement: anchorwarnings }"  [margin]="margin" *ngIf="show">
      <div class="card" style='width: 320px;max-width:100%'>
        <div class="card-header">
            <h3 kendoCardTitle>Warnings</h3>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm-9"><p>Abnormal occupancy levels detected.</p></div>
              <div class="col-sm-3"><p>12.01 8:32</p></div>
            </div>
            <div class="row">
              <div class="col-sm-9"><p>High temperatures detected.</p></div>
              <div class="col-sm-3"><p>11.01 17:32</p></div>
            </div>
            <div class="row">
              <div class="col-sm-9"><p>High wind speeds on west wing detected.</p></div>
              <div class="col-sm-3"><p>11.01 16:48</p></div>
            </div>

        </div>
    </div>
    </kendo-popup>
</div>



