my-app {
  padding: 0;
}

kendo-drawer {
  flex-basis: 48px
}

.k-drawer{
  background: #F9FBFC;
}

.k-drawer-item .k-icon {
  font-size: 24px;
  margin: 8px;
}

.demo-header {
  padding: 4px 8px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  height: 54px;
}

/* .k-state-selected{
  color: #1C7AD4;
}

.k-icon {
  font-size: 20px;
  color: #666666;
}
*/


kendo-drawer-content {
  min-height: calc(100vh - 54px);
  overflow: auto;
  padding-left: 10px;
  margin-top: 62px;
}
.k-drawer-wrapper {
  position: fixed !important;
  top: 54px !important;
}
k.drawer {
  position: fixed;
  width: 275px;
  background: blue;
}

.menu-toggle-button {
  display: none;
}
.enappgy-logo {
  display: inline-block;
  height: 100%;
  margin-left: 16px;
}
.logout-button {
  display: inline-block;
  float: right;
  position: relative;
  top: 8px;
}
.logout-button-mobile {
  display: none;
}
.inside {
  min-height: calc(100% - 80px);
  padding-bottom: 48px;
}

.demo-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* Small devices (tablets and phones) */
@media only screen and (max-width: 768px) {
  .menu-toggle-button {
    display: inline-block;
    position: relative;
    top: 4px;
  }
  .logout-button {
    display: none;
  }
  .logout-button-mobile {
    display: block;
    text-align: center;
    margin-top: 24px;
  }
}
