.color-indicator {
    background: #333;
    border-radius: 4px;
    height: 16px;
    width:100%;
}
    .dark-red {
        background: #cf3d3d;
    }
     .red {
        background: #FF6358;
    }
    .orange {
        background: #ff8758;
    }
    .yellow {
        background: #FFD246
    }
    .green {
        background: #78D237
    }
.color-indicator-label {
    margin-top: 4px;
    text-align: center;
    margin-bottom:0;
}