<div class='color-legend'>
    <kendo-card width='456px'>
       
        <kendo-card-body>
            <div class='row'>
                <div class='col'>
                    <div class='color-indicator green'></div>
                    <p class='color-indicator-label'>0% - 20%</p>
                </div>
                <div class='col'>
                    <div class='color-indicator yellow'></div>
                    <p class='color-indicator-label'>20% - 40%</p>
                </div>
                <div class='col'>
                    <div class='color-indicator orange'></div>
                    <p class='color-indicator-label'>40% - 60%</p>
                </div>
                <div class='col'>
                    <div class='color-indicator red'></div>
                    <p class='color-indicator-label'>60% - 80%</p>
                </div>
                <div class='col'>
                    <div class='color-indicator dark-red'></div>
                    <p class='color-indicator-label'>80% - 100%</p>
                </div>

            </div>
        </kendo-card-body>
    </kendo-card>
</div>
