.two-circles-wrapper {
    width:100%;
}
.half-width {
    width: 50%;
    float: left;
}
.circle {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.circle-value {
    color: #fff;
    font-size: 1.5rem;
}
.circle-title {
    font-weight: 100;
    font-size: .8rem;
}