<div class="container-fluid flex-container">
  <div class="row">
    <div class="col">
      <h2>Utilization</h2>
    </div>
    <div class="col-md-12 col-sm-12" style="float: right">
      <div style="float: right">
        <app-calendar-control
          [calendarShortcuts]="false"
          [calendarDatepicker]="true"
          *ngIf="loadCalendar"
          (searchClick)="SearchEvent($event)"
        ></app-calendar-control>
      </div>
    </div>
  </div>

  <!-- <div class="filler-24"></div> -->
  <div class="remaining-height-full-width">
    <kendo-card width="100%">
      <kendo-card-header>

        <div class="utilization-header-wrapper">
            <div class="row">
                <!--Energy legends-->
                <div class="col">
                    <div
                    *ngIf="localAccountService.sensorType == '1'"
                    id="energyIcon"
                    class="row"
                  >
                    <div class="utilization-legend-wrapper">
                      <!--<p class="utilization-legend-title">Utilization: </p>-->
                      <div class="utilization-legend-item">
                        <div class="utilization-legend-color one"></div>
                        <p>0% - 19%</p>
                      </div>
                      <div class="utilization-legend-item">
                        <div class="utilization-legend-color two"></div>
                        <p>20% - 39%</p>
                      </div>
                      <div class="utilization-legend-item">
                        <div class="utilization-legend-color three"></div>
                        <p>40% - 59%</p>
                      </div>
                      <div class="utilization-legend-item">
                        <div class="utilization-legend-color four"></div>
                        <p>60% - 79%</p>
                      </div>
                      <div class="utilization-legend-item">
                        <div class="utilization-legend-color five"></div>
                        <p>80% - 100%</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Navigation buttons-->
                <div class="col">
                    <div class="align-right">
                        <p class="inline">Floor:</p>
                        <button
                          kendoButton
                          *ngFor="let f of floors; index as fi"
                          (click)="loadFloorPlan(f, fi)"
                          [fillMode]="fi == selectedFloor ? 'solid' : 'outline'"
                          themeColor="primary"
                          style="margin-left: 8px"
                        >
                          {{ fi }}
                        </button>
                      </div>
                </div>
            </div>
        </div>



      </kendo-card-header>
      <kendo-card-body>
        <div class="map-wrapper" style="border-radius: 8px;">
          <div id="map" [style.height.px]="cardSize"></div>
          <div id="overlay" class="map_position loading_overlay"></div>
        </div>
      </kendo-card-body>
    </kendo-card>
  </div>
</div>
