<div class='container-fluid flex-container'>
    <div class='row'>
        <div class='col-md-4 col-sm-12'>
            <!--<h2>Home</h2>-->
        </div>
        <div class='col-md-8 col-sm-12' style='float:right'>
            <div style='float:right'>
                <app-calendar-control 
                [calendarShortcuts]="true"
                [calendarDatepicker]="false"
                [allowWeekDays]="allowWeekDays" 
                (searchClick)="SearchEvent( $event )"
                ></app-calendar-control>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <ng-container *ngIf="isStructureLoaded">
                <app-total-savings style="width:100%"
                [csEventChild]="csEventSubject.asObservable()"
                [buildingEventChild]="buildingEventSubject.asObservable()"                
                [building]="parentBuilding"
                ></app-total-savings>
            </ng-container>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <ng-container *ngIf="isStructureLoaded"><!-- isEnergyEventReady --> <!-- [calendarSearch]="calendarSearch" -->
                <app-savings-over-time style="width:100%" 
                [csEventChild]="csEventSubject.asObservable()"
                [buildingEventChild]="buildingEventSubject.asObservable()"                
                [building]="parentBuilding" 

                [energiesEventChild]="energiesEventSubject.asObservable()"
                ></app-savings-over-time>
            </ng-container>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
            <ng-container *ngIf="isStructureLoaded">
                <app-current-vs-baseline-consumption style="width:100%"  
                [csEventChild]="csEventSubject.asObservable()"
                [buildingEventChild]="buildingEventSubject.asObservable()"
                [building]="parentBuilding"                                 
                ><!-- (energyDataLoad)="energyDataLoadEvent( $event )" --></app-current-vs-baseline-consumption>
            </ng-container>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch" style='display:flex'>
            <app-savings-categories style="width:100%"></app-savings-categories>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch" style='display:flex'>
            <app-interventions style="width: 100%"></app-interventions>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch" style='display:flex'>
            <app-environment style="width:100%"></app-environment>
        </div>
    </div>
</div>