<kendo-card width='100%' class="expand">
    <kendo-card-header>
        <h1 kendoCardTitle>Interventions</h1>
    </kendo-card-header>
    <kendo-card-body>
        <div class="filler-16"></div>
        <div class="row header-expansion">
            <div class="col-sm-8"><span>Intervention</span></div>
            <div class="col-sm-2"><span >Date</span></div>
            <div class="col-sm-2"><span >Savings</span></div>
        </div>
        <kendo-expansionpanel 
        *ngFor="let item of data; index as i"
        [expanded]="false">
            <ng-template kendoExpansionPanelTitleDirective>
              <div class="header-content">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="k-icon k-icon-24" [ngClass]="item.icon" [style.marginRight.px]="8"></span>
                        <span class="padding-top">{{item.title}}</span>
                    </div>
                    <div class="col-sm-2"><span class="padding-top">{{item.date}}</span></div>
                    <div class="col-sm-2"><span class="padding-top">{{item.savings}} EUR</span></div>
                </div>
              </div>
            </ng-template>
            {{item.explanation}}
          </kendo-expansionpanel>
    </kendo-card-body>
</kendo-card>