<div>
  <div class="calendar-control" #anchor>
    <div *ngIf="showCalendarDatepicker">

      <!--DateRange, datepicker selector-->
      <div style="display: inline-block" *ngIf="allowDateRange">
        <kendo-daterange>
          <label>
            <kendo-dateinput
              kendoDateRangeStartInput
              [(value)]="minDate"
            ></kendo-dateinput>
          </label>
          <label>
            <span class="daterange-seperator"> — </span>
          </label>
          <label>
            <kendo-dateinput
              kendoDateRangeEndInput
              [(value)]="maxDate"
            ></kendo-dateinput>
          </label>
        </kendo-daterange>
      </div>

      <!--Weekdays selector-->
      <div
        style="
          display: inline-block;
          position: relative;
          top: 16px;
          margin-left: 8px;
        "
        *ngIf="allowWeekDays"
        (click)="toggleCard('showWeekDays')"
      >
        <div class="weekday-indicator-wrapper">
          <div *ngFor="let n of WeekDays" style="float: left">
            <span
              [ngClass]="{ 'not-active': !isActive(n) }"
              class="weekday-indicator"
            >
              {{ n[0] }}
            </span>
          </div>
        </div>
      </div>

      <!--TimeRange selector-->
      <div
        style="
          display: inline-block;
          position: relative;
          top: 16px;
          margin-left: 8px;
        "
        *ngIf="allowTimeRange"
        #anchorTime
        (click)="toggleCard('showTime')"
      >
        <div class="weekday-indicator-wrapper">
          <div style="float: left">
            <span class="weekday-indicator">
              {{ valueRange[0] }}:00 - {{ valueRange[1] }}:00
            </span>
          </div>
        </div>
      </div>
      <div
        style="
          display: inline-block;
          position: relative;
          top: 4px;
          margin-left: 16px;
        "
      >
        <button kendoButton themeColor="primary" (click)="Search(false)">
          Apply
        </button>
      </div>
    </div>

    <!--Date period selector buttons-->
    <div *ngIf="showCalendarShortcuts">
      <div
        style="
          display: inline-block;
          position: relative;
          top: 4px;
          margin-left: 8px;
        "
      >
        <button
          kendoButton
          themeColor="primary"
          (click)="setTimeFrame(0)"
          [fillMode]="buttonTimeRangeSelected == 0 ? 'solid' : 'outline'"
          themeColor="primary"
        >
          Current
        </button>
      </div>
      <div
        style="
          display: inline-block;
          position: relative;
          top: 4px;
          margin-left: 8px;
        "
      >
        <button
          kendoButton
          themeColor="primary"
          (click)="setTimeFrame(1)"
          [fillMode]="buttonTimeRangeSelected == 1 ? 'solid' : 'outline'"
          themeColor="primary"
        >
          Last day
        </button>
      </div>
      <div
        style="
          display: inline-block;
          position: relative;
          top: 4px;
          margin-left: 8px;
        "
      >
        <button
          kendoButton
          themeColor="primary"
          (click)="setTimeFrame(6)"
          [fillMode]="buttonTimeRangeSelected == 6 ? 'solid' : 'outline'"
          themeColor="primary"
        >
          Last week
        </button>
      </div>
      <div
        style="
          display: inline-block;
          position: relative;
          top: 4px;
          margin-left: 8px;
        "
      >
        <button
          kendoButton
          themeColor="primary"
          (click)="setTimeFrame(30)"
          [fillMode]="buttonTimeRangeSelected == 30 ? 'solid' : 'outline'"
          themeColor="primary"
        >
          Last month
        </button>
      </div>
    </div>
  </div>

  <!-- PopUp card DaysSelector-->
  <kendo-popup
    [anchor]="{ nativeElement: anchor }"
    (anchorViewportLeave)="showWeekDays = false"
    *ngIf="showWeekDays"
  >
    <div class="card" style="margin-bottom: 0px">
      <div class="card-header">
        <h3 kendoCardTitle>Days of the week</h3>
      </div>
      <div class="card-body">
        <ol>
          <li class="list-inline-item" *ngFor="let n of WeekDays">
            <button
              kendoButton
              size="small"
              style="margin-bottom: 8px"
              rounded="full"
              fillMode="outline"
              [themeColor]="isActive(n) ? 'primary' : 'secondary'"
              icon="{{ isActive(n) ? 'check' : 'add' }}"
              (click)="daysOfWeeSelection(n)"
            >
              {{ n }}
            </button>
          </li>
        </ol>
      </div>
    </div>
  </kendo-popup>

  <!--PopUp card timeRange-->
  <kendo-popup
    [anchor]="{ nativeElement: anchor }"
    (anchorViewportLeave)="showWeekDays = false"
    *ngIf="showTime"
  >
    <div class="card" style="min-width: 500px; max-width: 100%">
      <div class="card-header">
        <h3 kendoCardTitle>Hours of the day</h3>
      </div>
      <div class="card-body">
        <kendo-rangeslider
          [title]="title"
          [style.width]="'100%'"
          [min]="minSlider"
          [max]="maxSlider"
          [largeStep]="largeStep"
          [(ngModel)]="valueRange"
        >
        </kendo-rangeslider>
      </div>
    </div>
  </kendo-popup>
</div>
